server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/liftlog
    username: postgres
    password: 263126

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  mvc:
    problemdetails:
      enabled: true

springdoc:
  show-actuator: false
  default-produces-media-type: application/json
  default-consumes-media-type: application/json
  swagger-ui:
    display-request-duration: true
    operations-sorter: method

logging:
  level:
    org.springframework.web.filter.CommonsRequestLoggingFilter: DEBUG
